name: Generate Profile SVG

on:
  schedule:
    - cron: '0 0 * * *' 
  # Allow manual trigger
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: "Generate Raw SVG"
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}

          filename: draft.svg
          template: classic
          base: header, activity, community, repositories, metadata
          config_order: base.header, introduction, base.repositories, isocalendar, habits, activity, languages
          config_timezone: America/Chicago
          # Commit habits
          plugin_habits: yes
          plugin_habits_charts_type: classic
          plugin_habits_days: 14
          plugin_habits_facts: yes
          plugin_habits_from: 200
          plugin_habits_languages_limit: 8
          plugin_habits_languages_threshold: 0%
          # Introduction
          plugin_introduction: yes
          plugin_introduction_title: yes
          # Calendar
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
          # Most used languages
          plugin_languages: yes
          plugin_languages_analysis_timeout: 15
          plugin_languages_analysis_timeout_repositories: 7.5
          plugin_languages_categories: markup, programming
          plugin_languages_colors: github
          plugin_languages_limit: 8
          plugin_languages_recent_categories: markup, programming
          plugin_languages_recent_days: 14
          plugin_languages_recent_load: 300
          plugin_languages_sections: most-used
          plugin_languages_threshold: 0%
          # Stargazers
          plugin_stargazers: yes
          plugin_stargazers_charts: yes
          plugin_stargazers_charts_type: classic
          plugin_stargazers_days: 14
          plugin_stargazers_worldmap: yes
          # Traffic
          plugin_traffic: yes
          # Recent activities
          plugin_activity: yes

      - name: "Checkout Python Code"
        uses: actions/checkout@v6
        with:
          ref: 'main'

      - name: "Launch Python"
        uses: actions/setup-python@v6
        with:
          python-version: 3.13

      - name: "Prettify Raw SVG"
        run: |
          python main.py draft.svg

      - name: "Push Final SVG"
        run: |
          git config user.name house_keeper
          git config user.email housekeper@noreply.com
          git add profile.svg
          today="$(date +'%B %d, %Y')"
          git commit -m "update: $today"
          git push
